* {
    padding: 0;
    margin: 0;
}

.header {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Images/sikkim-9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 25px;
    padding-bottom: 200px;
    text-align: center;
    color: #fff;
}

.header img {
    width: 120px;
    float: left;
}

.login-btn {
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}

.signin-btn {
    width: 100px;
    padding: 8px 0;
    border: none !important;
    background: transparent;
    color: #fff;
    font-weight: 600;
    float: right;
}

.header h1 {
    padding-top: 250px;
    padding-bottom: 0;
    font-size: 50px;
    color: #fff;
}

.header p {
    margin: 18px 0;
}

.input-group {
    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}

.form-control {
    border: 0 !important;
    border-radius: 30px !important;
    margin: auto;
    box-shadow: none !important;
}

.input-group-text {
    width: 100px;
    background-image: linear-gradient(#00ff7e, #1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}

.features {
    padding: 100px 0;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    color: brown;
}

.feature-img img {
    width: 100%;
}

.price {
    width: 60px;
    height: 60px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 40%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -30px;
}

.feature-img {
    position: relative;
}

.rating {
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}

.features .fa {
    font-size: 15px;
    color: #ff5722;
}

.feature-details {
    padding: 30px;
    text-align: center;
}

.feature-details h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.feature-details .fa {
    margin-right: 6px;
}

.feature-box {
    box-shadow: 0 0 10px 5px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
}

.gallery {
    padding: 100px 0;
    background: wheat;
}

.gallery h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: sienna;
    padding-top: 0% !important;
}

.gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.gallery-box img:hover {
    transform: scale(1.1);
}

.gallery-box h4 {
    display: block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-box {
    position: relative;
    margin-bottom: 30px;
}

.banner {
    height: 80%;
    background-image: url(Images/kangchenjunga.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 13%;
}

.banner-highlights {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: justify;
    color: #fff;
}

.booking-btn {
    width: 180px !important;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 30px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.booking-btn:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(208, 206, 232, 0.15);;
}

.users-feedback {
    padding: 100px 0;
    margin-top: 0;
}

.users-feedback h1 {
    color: rgba(11, 4, 107, 0.929);
}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.4);
    padding-bottom: 40px;
}

.user-review p {
    padding: 40px 10px 10px 10px;
}

.users-feedback img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.user-review p::before {
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}

.footer {
    padding: 100px 20px 15px;
    background-image: linear-gradient(#2d557d, #9610fb);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.footer-logo {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h3 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background: #efefef;
}

.footer .footer-text .copyright {
    text-align: center;
}

.footer .footer-text p {
    font-size: 16px;
    color: var(--bg-black-900);
}

.footer .footer-iconTop {
   
    float: right;
    padding-bottom: 20px;
}

.footer .footer-iconTop a {
    position: relative;
    display: inline;
    padding: .8rem;
    background: #000000;
    border: .2rem #ffffff;
    border-radius: 25%;
    overflow: hidden;
}

.footer-iconTop a i {
    font-size: 16px;
    color: #e5c2ff;
}